<form action="/containers/<%= @container.name %>/update_config" method="POST">
  <legend><%= @container.name %> config</legend>
  <textarea name="config" style="width: 100%; height: 400px;"><%= @config_data %></textarea>
  <span class="help-block"><strong>Be careful!</strong></span>
  <button type="submit" class="btn">Save</button>
</form>
<h3>Help</h3>
<p>
  <code>lxc.cgroup.memory.limit_in_bytes</code> &ndash; limit of RAM in bytes
  <br>
  <code>lxc.cgroup.cpu.shares</code> &ndash; limit CPU
</p>
<p>
  <a href="https://help.ubuntu.com/12.04/serverguide/lxc.html#lxc-conf">Read more about config</a>
</p>